@import '../utilities/variables.scss';

.register-btn{
  background: rgb(28, 153, 132);
  // background: linear-gradient(0deg, rgb(40, 170, 148) -31%, rgb(58, 209, 184) 0%, rgb(54, 228, 199) 100%);
  color:#fff;

}
.btn{
  color:#fff !important;
}
.register-btn:hover{
  background:#fff;
  color:#5EBDEB;

}